- messages.each do |message|
  .message{data: {id: "#{message.id}"}}
    .message-info
      .message-info__name
        = message.user.name
      .message-info__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    .message-text
      - if message.content.present?
        %p.message-text__content
          = message.content
      - if message.image.url
        = image_tag message.image.url, class: 'message-text__image'
      - else
